body {
  margin: 0;
}
header {
  background: #B0DDDD;
  height: 70px;
}
.main {
  background: #F9F9F9;
  height: 300px;
}
footer {
  background: #DCCEC8;
  height: 70px;
}
.container {
  width: 100%;
  max-width: 1024px;
  padding: 15px;
  margin: 0 auto;
  background: #FFD0AB;
  height: 100%;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/
}

nav a {
  text-decoration: none;
  line-height: 38px;
}
